In [1]:
import pandas as pd
import pickle

In [2]:
test=pd.read_csv(r'test_modified.csv')

In [3]:
test.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Size,Outlet_Location_Type,Item_Outlet_Sales,Years_Established,Item_Fat_Content_Not Applicable,Item_Fat_Content_Regular,Outlet_Type_Supermarket Type1,...,Item_Type_Fruits and Vegetables,Item_Type_Hard Drinks,Item_Type_Health and Hygiene,Item_Type_Household,Item_Type_Meat,Item_Type_Others,Item_Type_Seafood,Item_Type_Snack Foods,Item_Type_Soft Drinks,Item_Type_Starchy Foods
0,20.750,0.007565,107.8622,1,2,NaN,22,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,8.300,0.038428,87.3198,0,1,NaN,14,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,14.600,0.099575,241.7538,0,0,NaN,23,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,7.315,0.015388,155.0340,0,1,NaN,14,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,13.600,0.118599,234.2300,1,0,NaN,36,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
test_og=pd.read_csv(r'test.csv')

In [5]:
test_og.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [6]:
test = test.drop(['Item_Outlet_Sales'], axis = 1)

In [8]:
print(len(test.columns))

28

In [9]:
test.columns

Index(['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Outlet_Size',
       'Outlet_Location_Type', 'Years_Established',
       'Item_Fat_Content_Not Applicable', 'Item_Fat_Content_Regular',
       'Outlet_Type_Supermarket Type1', 'Outlet_Type_Supermarket Type2',
       'Outlet_Type_Supermarket Type3', 'Item_Type_Combined_Food',
       'Item_Type_Combined_Non-Consumable', 'Item_Type_Breads',
       'Item_Type_Breakfast', 'Item_Type_Canned', 'Item_Type_Dairy',
       'Item_Type_Frozen Foods', 'Item_Type_Fruits and Vegetables',
       'Item_Type_Hard Drinks', 'Item_Type_Health and Hygiene',
       'Item_Type_Household', 'Item_Type_Meat', 'Item_Type_Others',
       'Item_Type_Seafood', 'Item_Type_Snack Foods', 'Item_Type_Soft Drinks',
       'Item_Type_Starchy Foods'],
      dtype='object')

In [7]:
filename = 'finalized_model.sav'
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.predict(test)
#result = loaded_model.score(X_test, Y_test)
#print(result)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:318: UserWarning: Trying to unpickle estimator DummyRegressor from version 0.23.2 when using version 0.22.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:318: UserWarning: Trying to unpickle estimator DecisionTreeRegressor from version 0.23.2 when using version 0.22.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:318: UserWarning: Trying to unpickle estimator GradientBoostingRegressor from version 0.23.2 when using version 0.22.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [14]:
sub = test_og[['Item_Identifier','Outlet_Identifier']]

In [16]:
sub['Item_Outlet_Sales'] = result

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
sub.head()

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        1658.254026
1           FDW14            OUT017        1424.031699
2           NCN55            OUT010         763.694175
3           FDQ58            OUT017        2465.456661
4           FDY38            OUT027        6032.376697

In [18]:
sub.to_csv("sub.csv",index=False)

In [ ]:
# got rmse of 1157.2381611038